body {
    background-color: beige;
}

.container {
    width: 25%;
    height: 70%;
    background-color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 15%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.input1 {
    /* margin-left: 5%; */
    /* max-resolution: 10px; */
    display: flex;
    align-items: center;
    width: 90%;
    height: 10%;
}

.button {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 10%;
}

#btn {
    background: aquamarine;
    /* color: aquamarine; */
    margin: 10px;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#inputtext {
    width: 100%;
    height: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.img>image {
    margin: 0 auto;
    width: 100%;
    /* height: 40%; */
}